<a href="https://colab.research.google.com/github/shannondill/Dissertation_BDA_FloodRisk/blob/main/Census_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning: census data 2016 - per census district
(Department of Statistics, 2016)

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import csv

### Personal Gross Income

In [3]:
# Import income dataset
personal_income = pd.read_csv('/content/cleaned_CensusDistricts_personalincome_2016.csv')
personal_income.head()

,Unnamed: 0.1,Unnamed: 0,Census District,Total,No Income,"Under $12,000","$12,000 to $29,999","$30,000 to $35,999","$36,000 to $47,999","$48,000 to $59,999",...,"$108,000 to $131,999.2","$132,000 to $155,999.2","$156,000 to $234,999.2","$235,000 to $349,999.2","$350,000 to $499,999.2","$500,000 to $649,999.2","$650,000 to $749,999.2","$750,000 and Over.2",Not Stated.2,Median.2
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,Total,"53,613","6,908","4,252","7,709","2,944","5,942","5,226",...,"1,300",638.0,765.0,378.0,125.0,56.0,19.0,32.0,11.0,"51,752"
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,1-01,146,23,18,19,7,20,20,...,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"48,546"
4,4,4,1-02,207,21,21,30,9,20,23,...,6,3.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,"55,200"

In [4]:
# Remove '$' from 'Median' column
personal_income['Median'] = personal_income['Median'].str[1:]
personal_income['Median.1'] = personal_income['Median.1'].str[1:]
personal_income['Median.2'] = personal_income['Median.2'].str[1:]
personal_income.head()

,Unnamed: 0.1,Unnamed: 0,Census District,Total,No Income,"Under $12,000","$12,000 to $29,999","$30,000 to $35,999","$36,000 to $47,999","$48,000 to $59,999",...,"$108,000 to $131,999.2","$132,000 to $155,999.2","$156,000 to $234,999.2","$235,000 to $349,999.2","$350,000 to $499,999.2","$500,000 to $649,999.2","$650,000 to $749,999.2","$750,000 and Over.2",Not Stated.2,Median.2
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,Total,"53,613","6,908","4,252","7,709","2,944","5,942","5,226",...,"1,300",638.0,765.0,378.0,125.0,56.0,19.0,32.0,11.0,"1,752"
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,1-01,146,23,18,19,7,20,20,...,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"8,546"
4,4,4,1-02,207,21,21,30,9,20,23,...,6,3.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,"5,200"

In [ ]:
# Download as csv file
personal_income.to_csv('cleaned_CensusDistricts_personalincome_2016.csv')

### Age

In [ ]:
# Import age dataset
# Remove blank lines
age = pd.read_csv('/content/CensusDistricts_age2016CensusTable3.4.csv', skiprows=3).dropna()
age.head()

In [ ]:
# Download as a csv file
age.to_csv('FINALCensusDistricts_Age2016Table3.4.csv')

### Education (Government of Bermuda, 2024)

## Find average income for each census district

In [22]:
personal_income = pd.read_csv('/content/cleaned_CensusDistricts_personalincome_2016.csv')
personal_income.head()

,Unnamed: 0.1,Unnamed: 0,Census District,Total,No Income,"Under $12,000","$12,000 to $29,999","$30,000 to $35,999","$36,000 to $47,999","$48,000 to $59,999",...,"$108,000 to $131,999.2","$132,000 to $155,999.2","$156,000 to $234,999.2","$235,000 to $349,999.2","$350,000 to $499,999.2","$500,000 to $649,999.2","$650,000 to $749,999.2","$750,000 and Over.2",Not Stated.2,Median.2
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,Total,"53,613","6,908","4,252","7,709","2,944","5,942","5,226",...,"1,300",638.0,765.0,378.0,125.0,56.0,19.0,32.0,11.0,"51,752"
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,1-01,146,23,18,19,7,20,20,...,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"48,546"
4,4,4,1-02,207,21,21,30,9,20,23,...,6,3.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,"55,200"

In [23]:
# Keep 'Census District' as string
personal_income['Census District'] = personal_income['Census District'].astype(str)

# Convert all other columns to integers safely
cols_to_convert = personal_income.columns.difference(['Census District'])

for col in cols_to_convert:
    personal_income[col] = pd.to_numeric(personal_income[col], errors='coerce').fillna(0).astype(int)

In [24]:
import pandas as pd

# Define the midpoint for each income bracket
income_midpoints = {
    "No Income": 0,
    "Under $12,000": 6000,
    "$12,000 to $29,999": (12000 + 29999) / 2,
    "$30,000 to $35,999": (30000 + 35999) / 2,
    "$36,000 to $47,999": (36000 + 47999) / 2,
    "$48,000 to $59,999": (48000 + 59999) / 2,
    "$60,000 to $71,999": (60000 + 74999) / 2,
    "$72,000 to $83,999": (75000 + 89999) / 2,
    "$84,000 to $95,999": (90000 + 104999) / 2,
    "$96,000 to $107,999": (105000 + 107999) / 2,
    "$108,000 to $131,999.2": (108000 + 131999) / 2,
    "$132,000 to $155,999.2": (132000 + 155999) / 2,
    "$156,000 to $234,999.2": (156000 + 234999) / 2,
    "$235,000 to $349,999.2": (235000 + 349999) / 2,
    "$350,000 to $499,999.2": (350000 + 499999) / 2,
    "$500,000 to $649,999.2": (500000 + 649999) / 2,
    "$650,000 to $749,999.2": (650000 + 749999) / 2,
    "$750,000 and Over.2": 750000  # Conservative estimate
}

# Function to compute average income per row
def compute_avg_income(row):
    total_income = 0
    total_people = 0
    for bracket, midpoint in income_midpoints.items():
        count = row.get(bracket, 0)
        if pd.notna(count):
            total_income += count * midpoint
            total_people += count
    return total_income / total_people if total_people > 0 else None

# Example usage:
personal_income['avg_income_by_district'] = personal_income.apply(compute_avg_income, axis=1)

personal_income.head()

,Unnamed: 0.1,Unnamed: 0,Census District,Total,No Income,"Under $12,000","$12,000 to $29,999","$30,000 to $35,999","$36,000 to $47,999","$48,000 to $59,999",...,"$132,000 to $155,999.2","$156,000 to $234,999.2","$235,000 to $349,999.2","$350,000 to $499,999.2","$500,000 to $649,999.2","$650,000 to $749,999.2","$750,000 and Over.2",Not Stated.2,Median.2,avg_income_by_district
0,0,0,nan,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,1,1,Total,0,0,0,0,0,0,0,...,638,765,378,125,56,19,32,11,0,235776.706160
2,2,2,nan,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,3,3,1-01,146,23,18,19,7,20,20,...,1,1,0,0,0,0,0,0,0,48321.610169
4,4,4,1-02,207,21,21,30,9,20,23,...,3,3,2,1,0,0,0,0,0,61298.994350

In [25]:
# download csv
personal_income.to_csv('averageincome_per_censusdistrict.csv')